@import url('https://fonts.googleapis.com/css2?family=Tiro+Gurmukhi:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    font-size: 10px;
    font-family: 'Tiro Gurmukhi', serif;
    scroll-behavior:smooth;
}
.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
p{
    color: black;
    font-size: 1.7rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 300;
    letter-spacing: 0.06rem;
}
.section-title{
    font-size: 4rem;
    font-weight: 300;
    color: black;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
}
/*color blue in title / need span in title*/
.section-title span{
    color: rgb(11, 24, 207);
}
.designation h1{
    font-family: 'Raleway', sans-serif;
    letter-spacing: .1rem;
    font-size: 3rem ;
    text-transform: uppercase;
    color: rgba(245, 245, 245, 0.687);
}
/*Header Section*/
#header{
    position:fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100vw;
    height: auto;
}
#header .header{
    min-height: 8vh;
    background-color: rgba(41, 41, 42, 0.603);
    transition: .5s ease background-color;
}
#header .nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: 1300px;
    padding: 0 10px;
}
#header .nav-bar h1{
    font-family: 'Raleway', sans-serif;
    font-size: 2.7rem;
}
#header .nav-list ul{
    list-style: none;
    position: absolute;
    background-color:rgba(32, 32, 32, 0.976);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow-x: hidden;
    transition: .5s ease left;
}
#header .nav-list ul.active{
    left:0;
}
#header .nav-list ul a{
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: .2rem;
    text-decoration: none;
    color: white;
    padding: 20px;
    display: block;
    text-transform: uppercase;
}
#header .nav-list ul a::after{
    content: attr(data-after);
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%) scale(0);
    color: rgba(255, 255, 255, 0.405);
    font-size: 7rem;
    letter-spacing: 30px;
    z-index: -1;
    transition: .5s ease letter-spacing;
}
#header .nav-list ul li:hover a::after{
    transform: translate(-50%, -50%) scale(1);
    letter-spacing: initial;
}
#header .nav-list ul li:hover a{
    color:rgb(11, 24, 207) ;
}
#header .hamburger{
    height: 60px;
    width: 60px;
    display: inline-block;
    border: 3px solid rgb(255, 255, 255);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    z-index: 100;
    cursor: pointer;
    transform:scale(.8);
    margin-right: 20px;
    margin-bottom: 5px;
}
#header .hamburger::after{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid rgb(11, 24, 207);
    animation: hamburger_puls 1.6s ease infinite;
}
#header .hamburger .bar{
    height: 2px;
    width: 30px;
    position: relative;
    background-color: rgb(11, 24, 207);
    z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    background-color:rgb(243, 244, 247);
    transition: .3s ease;
    transition-property: top bottom;
}
#header .hamburger .bar::after{
    top:8px;
}
#header .hamburger .bar::before{
    bottom: 8px;
}
#header .hamburger.active .bar::before{
    bottom: 0;
}
#header .hamburger.active .bar::after{
    top:0;
}


/*End Header Section*/


/*Hero Section*/
/*Bg photo and center*/
#hero{
    background-image: url(./img/bg.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1; 
}
/*contrast / darken the image*/
#hero::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .6; 
    z-index: -1;/*portfolio is glowing*/
}
/*from center to left possition on screen*/
#hero .hero{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    justify-content: flex-start; 
}

/*The main inscription of the greeting*/
#hero h1{
    font-family: 'Raleway', sans-serif;
    display: block;
    width: fit-content;
    position: relative;
    font-size: 4rem;
    color: transparent;
    animation: text_reveal .5s ease forwards; /*animation delay*/
    animation-delay: 1s;
}
/*Create nth child to Subtitles appearing sequentially*/
#hero h1:nth-child(1) {
    animation-delay: 1s;
}
#hero h1:nth-child(2){
    animation-delay: 2s;
}
#hero h1:nth-child(3){
    animation: text_reveal_name .5s ease forwards; /*_name for blue color*/
    animation-delay: 3s;
}
/*Create reveal Animation*/
#hero h1 span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: rgb(8, 16, 126);
    animation: text_reveal_box 1s ease; /*using transition*/
    animation-delay: 1s;
}
/*Create nth child to blue cover appearing sequentially*/
#hero h1:nth-child(1) span {
    animation-delay: .5s;
}
#hero h1:nth-child(2) span {
    animation-delay: 1.5s;
}
#hero h1:nth-child(3) span {
    animation-delay: 2.5s;
}
/*portfolio button*/
#hero .cta{
    display: inline-block;
    padding: 10px 30px; 
    color: rgba(225, 225, 225, 0.9);
    background-color: transparent;
    border: 2px solid rgb(8, 16, 126);
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 20px;
    transition: .3s ease-out ;
}
/*lights up when you hover*/
#hero .cta:hover{
    letter-spacing: 0.2rem;
    color: rgba(255, 255, 255, 0.779);
    background-color: rgba(8, 16, 126, 0.828);
    box-shadow: 0 0 15px;
}

/*End Hero Section*/


/*Service Section*/
#services .services{
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px 0;
}
#services .service-top{
    max-width: 1300px;
    margin:0 auto;
}
#services .service-top p{
    padding: 30px;
}
#services .service-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 60px;
}
/* bg for service offers and title*/
#services .service-item{
    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 60px;
    background-image: url("./img/desk.jpg") ;
    background-size: cover;
    background-attachment: fixed;
    margin: 10px 5%;
    position: relative; /* for contrast, index for caption*/
    z-index: 1;
    overflow: hidden; /* border-radius/ contrast - hidden contrast bg */
}
/* contrast bg for service offers*/
#services .service-item::after{
    content:'';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(40, 40, 42);
    opacity: .7;
    z-index: -1;
}
#services .service-bottom .icon{
    height: 50px;
    width: 50px;
    margin-bottom: 80px;
}
#services .service-bottom .icon img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#services .service-item h2{
    font-size: 2rem;
    color: white;
    margin-bottom: 10px;
    text-transform: uppercase;
}
#services .service-item p{
    color: white;
}
/*End Service Section*/
/*Sample Porject*/
    /*Make sure that title is on center*/
#projects .projects{
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding:50px 0 ;
}
#projects .projects-header h1{
    margin-bottom: 50px;
}
#projects .all{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#projects .project-item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: 10px auto;
    overflow: hidden;
    border-radius: 10px;
    border-collapse: collapse;
}
#projects .project-info{
    padding: 30px ;
    flex-basis: 50%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(150deg, rgba(19,23,93,1) 0%, rgb(8, 16, 126) 100%);
    color:white;
}
#projects .project-info h1 {
    font-size: 4rem;
    font-weight: 300;
}
#projects .project-info h2{
    font-size: 2rem;
    font-weight: 300;
    margin-top: 5px;
}
#projects .project-info p {
    color: white;
}
#projects .project-img{
    flex-basis: 50%;
    height: 300px; 
    overflow: hidden;
    position: relative;
}
#projects .project-img::after{
    content : '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(2, 39, 120, 0.604);
    opacity: 0.3;
}
#projects .project-img{
    transition: .3s ease transform;
}
#projects .project-item:hover .project-img img{
    transform: scale(1.3);
}

/*End Sample Porject*/

/*About me section*/
#about .about{
    flex-direction: column-reverse;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 20px;
}
#about .likeness{
    width: 250px;
    height: 360px;
    box-shadow: 10px 30px 20px 0 rgb(8, 16, 126);
}
#about .row{
    width: 100%;
}
#about .row h1{
    margin-bottom: 5px;
}
#about .row h2{
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: .1rem;
    margin-bottom: 5px;
    text-transform: uppercase;
}
#about .row p{
    margin-bottom: 20px;
    padding: 10px;
}


/*End About me section*/
/* contact section*/
 #contact .contact{
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
 }
#contact .contact-items{
    width: 350px;
}
#contact .item{
    width: 80%;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    padding: 30px;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    box-shadow: 0px 0px 5px 0 rgb(8, 16, 126);
    transition: .3s ease box-shadow;
}
#contact .item:hover{
    box-shadow: 0px 0px 25px 0 rgb(8, 16, 126);
}
#contact .icon{
    width: 70px;
    margin: 0 auto;
    margin-bottom: 10px;
}
#contact .contact-info h1{
    font-size: 2.5rem;
    font-weight: 500px;
    margin-bottom: 5px;
    color: black;
}
#contact .contact-info h2{
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 500px;
    color: black;
}
/*End contact section*/

/*Footer section*/
#footer{
    background-image: linear-gradient(150deg, rgba(19,23,93,1) 0%, rgb(8, 16, 126) 100%);
}
#footer .footer{
    min-height: 200px;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 10px;
}
#footer h2{
    font-family: 'Raleway', sans-serif;
    letter-spacing: .1rem;
    font-size: 1.5rem ;
    margin: 10px 10px;
    color: rgba(245, 245, 245, 0.687);
    }
#footer .social-icon{
    display: flex;
    margin-bottom: 20px;
}
#footer .social-item{
    height: 50px;
    width: 200px;
    margin: 0px 5px;
    display: flex;
    
}
#footer .social-item li{
    list-style: none;
}
#footer .social-item li a{
    padding: 0 10px;
    color: rgba(245, 245, 245, 0.687);
    font-size: 3.8rem;
}
#footer .social-item li a:hover .fa{
    transform: rotateY(360deg);
    color:rgb(249, 249, 251);
}
#footer .social-item li a .fa{
    transition: .3s;
}

/*End Footer section*/

/*Animation (blue animation my name*/
/*transition*/
@keyframes text_reveal_box {
    50%{
        width: 100%;
        left: 0;
    }
    100%{
        width: 0;
        left: 100%;
    }
}
@keyframes text_reveal{
    100%{
        color: rgba(255, 255, 255, 0.9);
    }
}
@keyframes text_reveal_name{
    100%{
        color: rgb(7, 17, 162);
    }
}
@keyframes hamburger_puls{
    0%{
        opacity: 1;
        transform: scale(1);
    }
    100%{
        opacity: 0;
        transform: scale(1.5);
    }
}
/*Media for tablet section*/
@media only screen and (min-width:768px){
    #hero .cta{
        font-size: 2.5rem;
        padding: 20px 60px;
    }
    h1.section-title{
        font-size: 6rem;
    }
    /*Hero*/
    #hero h1{
        font-size: 7rem;
    }
    /*End Hero*/
    /*Services*/
    #services .service-bottom .service-item{
        flex-basis: 45%;
        margin: 1.5%;
    }
    /*End Services*/

    /*Project*/
    #projects .project-item{
        flex-direction: row;
    }
    #projects .project-item:nth-child(even){
        flex-direction: row-reverse;
    }
    #projects .project-item{
        height: 400px;
        margin: 0;
        width: 100%;
        border-radius: 0;
    }
    #projects .all-projects .project-info{
        height: 100%;
    }
    #projects .all-projects .project-img{
        height: 100%;
    }
    /*End Project*/
    /*About*/
    #about .about{
        flex-direction: row;
    }
    #about .likeness{
        margin-bottom: 20%;
        width: 600px;
        height: 400px;
        box-shadow: none;
        
    }
    #about .row{
        text-align: left;
        padding: 30px;
    }
    #about .row h1{
        text-align: left;
    }
    #about .likeness .about-img{
        box-shadow: -10px 10px 20px 0 rgb(8, 16, 126);
    }
    /*End About*/

    /*Contact*/
    #contact .contact{
        flex-direction:column;
        padding: 100px 0;
        align-items: center;
        justify-content: center;
        min-height: 20vh;
    }
    #contact .contact-items{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0;
    }
    #contact .item{
        width:30% ;
        flex-direction:column ;
    }
    #contact .item .icon{
        height: 100px;
        width: 100px;
    }
    #contact .item .icon img{
        object-fit:contain;
    }
    #contact .item .contact-info{
        width: 100%;
        text-align: center;
        padding-left: 10px;
    }
    /*End Contact*/
}
/*Media for Desktop */
@media only screen and (min-width: 1200px){
    #header .nav-bar h1{
        font-size: 4rem;
    }
    #services .service-bottom .service-item{
        flex-basis: 22%;
        margin: 1.5%;
    }
    #header .hamburger{
        display: none;
    }
    #header .nav-list ul{
        position: inherit;
        display: block;
        height: auto;
        width: fit-content;
        background-color: transparent;
        
    }
    #header .nav-list ul li{
        display: inline-block;
    }
    #header .nav-list ul li a{
        font-size:2rem ;
    }
    #header .nav-list ul a::after{
        display: none;
    }
}
/*END Media for Desktop ddd aa ss aa*/
